@font-face {
  font-family: Vazir;
  src: url("../fonts/Vazir/Vazir-Regular.ttf") format("truetype");
  src: url("../fonts/Vazir/Vazir-Regular.eot") format("embedded-opentype");
  src: url("../fonts/Vazir/Vazir-Regular.woff") format("woff");
  src: url("../fonts/Vazir/Vazir-Regular.woff2") format("woff2");
}
